/* Tailwind v4 preflight */
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "maplibre-gl/dist/maplibre-gl.css";


/* Base document defaults */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a; /* neutral-950-ish */
  color: #fafafa; /* neutral-50-ish */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map-container {
  width: 100%;
  height: 400px; /* or 100%, but all parents must have a height too */
}